@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Colores solidos */
    --rojo: #c82f3e;
    --azul: #3170a8;
    --amarillo: #feee33;
    --blanco: #ffffff;
    --blanco2: #f1f1f1;
    --negro: #121212;
    /* Colores Oscuros */
    --rojoOsc: #6b0c16;
    --azulOsc: #053660;
    --amarilloOsc: #5c5614;
    /* Colores Brillosos */
    --rojoBri: #ffa2ac;
    --azulBri: #7ec3ff;
    --amarilloBri: #ffef96;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
    /*Esto hace que el scroll sea fluido */
}

/* Titulos y Parrafos */

h1 {
    font-size: 7vmin;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: var(--azulOsc);
}

h2 {
    font-size: 5vmin;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--azul);
    border-bottom: solid 5px var(--rojo);
}

h3 {
    font-size: 4vmin;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--amarilloOsc);
    border-bottom: solid 5px var(--amarilloOsc);
}

p {
    font-size: 16px;
    color: var(--negro);
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
}

/* Barra de Navegacion*/
#navbar {
    background-color: var(--rojo);
    position: relative;
    border-bottom: solid 5px var(--negro);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.logo {
    width: 6rem;
    display: flex;
    margin-left: 20px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.2);
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links a {
    background-color: var(--amarillo);
    box-shadow: 2px 2px 5px var(--rojoOsc);
    color: var(--amarilloOsc);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    width: 18%;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: var(--amarilloBri);
    box-shadow: 0px 5px 25px 8px var(--amarillo);
    transform: scale(1.2);
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    cursor: pointer;
    display: none;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

  }

  /* Estilos para los contenedores principales */
  .contenedor {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; /* Oculta el desbordamiento */
  }

  .contenedor#contenedor-cafes{
    background-color: var(--blanco) ;
  }

  .contenedor#contenedor-postres{
    background-color: var(--blanco2) ;
  }

  /* Título siempre centrado */
  .titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* Estilos para las listas deslizables */
  .menu {
    display: flex;
    overflow-x: auto; /* Scroll horizontal */
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory; /* Snap en los elementos */
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
  }

  .producto {
    flex: 0 0 300px; /* Ancho fijo de cada producto */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    scroll-snap-align: start; /* Snap individual de cada producto */
    transition: transform 0.3s; /* Animación suave */
    width: 100%;                /* El producto ocupa todo el ancho del contenedor */
    max-width: 300px;           /* Limita el ancho máximo del contenedor */
    padding: 15px;              /* Espaciado interno */
    box-sizing: border-box;     /* Incluye padding y bordes en el ancho total */
    margin: 10px;               /* Espaciado entre productos */
    text-align: center;         /* Centra el texto */
    height: 250px;
  }


  .producto img {
    width: 100%;                /* La imagen ocupa todo el ancho del contenedor */
    height: auto;              /* Altura fija para las imágenes */
    object-fit: cover;          /* Se adapta sin distorsionarse */
    border-radius: 8px;
  }
  
  .producto h2 {
    font-size: 1.5em;           /* Tamaño del título */
    margin-bottom: 10px;        /* Espaciado debajo del título */
  }
  
  .producto p {
    overflow-wrap: break-word;  /* Corta el texto largo para que no desborde */
    white-space: normal;        /* Permite saltos de línea */
    margin-bottom: 10px;        /* Espaciado entre los párrafos */
  }
  
  .cafe-precio {
    font-weight: bold;          /* Resalta el precio */
    font-size: 1.2em;           /* Tamaño del texto del precio */
    color: var(--negro);                /* Color del precio */
  }

  .producto:hover {
    transform: scale(1.2); /* Crece al hacer hover */
  }


  /* Media queries para pantallas medianas (768px o menos) */
  @media (max-width: 768px) {
    .menu {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Tres columnas */
      overflow-y: auto; /* Scroll vertical en lugar de horizontal */
    }
  }

  /* Media queries para pantallas pequeñas (480px o menos) */
  @media (max-width: 480px) {
    .contenedor {
      height: 50vh; /* Mantiene el 50% de altura */
    }

    .menu {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden; /* Solo permite scroll vertical */
    }

    .producto {
      flex: 1 1 auto;
      width: 100%; /* Ocupa todo el ancho */
    }
  }

/* Footer */
footer {
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-color: var(--azulOsc);
  border-top: solid 5px var(--negro);
}

#footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.info {
  width: 15%;
  display: flex;
  justify-content: center
}

.der-poli {
  width: 50%;
  padding: 10px;
}

.der-poli h3 {
  color: var(--amarilloBri);
  margin: 10px 0;
}

.der-poli p {
  color: var(--blanco2);
  margin: 10px 0;
}

.logo-footer {
  width: 9rem;
  transition: 0.3s;
}

.logo-footer:hover {
  transform: scale(1.2);
}

.redes {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.red {
  width: 40px;
  height: 40px;
  background-color: var(--blanco2);
  border: solid 2px var(--negro);
  box-shadow: 2px 2px 5px var(--negro);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.red img {
  width: 85%;
}

.red:hover {
  background-color: var(--amarilloBri);
  box-shadow: 0px 5px 25px 8px var(--amarillo);
  transform: scale(1.2);
}

.copyrais {
  background-color: var(--negro);
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  color: var(--blanco2);
  font-size: 12px;
}

/* TRANSFORMACION A RESPONSIVO */

@media screen and (max-width:930px) {

  /* Menu De Hamburguesa */
  .menu-btn {
      display: block;
  }

  #navbar {
      padding: 0;
  }

  #navbar .logo {
      position: absolute;
      top: 10px;
      left: 30px;
  }

  .nav-links {
      flex-direction: column;
      width: 100%;
      height: 95vh;
      justify-content: center;
      background-color: var(--rojo);
      margin-top: -550px;
      transition: all 0.5s ease;
  }

  .mobile-menu {
      margin-top: 0px;
  }

  .nav-links a {
      margin: 25px auto;
      width: 30%;
  }

  /* Footer Responsive */
  .redes {
      flex-direction: column;
  }

  .red {
      margin: 10px;
  }

  .logo-footer {
      width: 6rem;
  }
}



