@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Colores solidos */
    --rojo: #c82f3e;
    --azul: #3170a8;
    --amarillo: #feee33;
    --blanco: #ffffff;
    --blanco2: #f1f1f1;
    --negro: #121212;
    /* Colores Oscuros */
    --rojoOsc: #6b0c16;
    --azulOsc: #053660;
    --amarilloOsc: #5c5614;
    /* Colores Brillosos */
    --rojoBri: #ffa2ac;
    --azulBri: #7ec3ff;
    --amarilloBri: #ffef96;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
    /*Esto hace que el scroll sea fluido */
}

body,
html {
    overflow-x: hidden;
    /*Esto quita la barra de deslizamiento horizontal*/
}

/* Titulos y Parrafos */

h1 {
    font-size: 7vmin;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    color: var(--amarilloBri);
    -webkit-text-stroke: 2px var(--negro);
}

h2 {
    font-size: 5vmin;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--azul);
    border-bottom: solid 5px var(--rojo);
}

h3 {
    font-size: 4vmin;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--amarilloOsc);
    border-bottom: solid 5px var(--amarilloOsc);
}

p {
    font-size: 16px;
    color: var(--negro);
    font-family: "Merriweather Sans", sans-serif;
    font-style: normal;
}

/* Barra de Navegacion*/
#navbar {
    background-color: var(--rojo);
    position: relative;
    border-bottom: solid 5px var(--negro);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.logo {
    width: 6rem;
    display: flex;
    margin-left: 20px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.2);
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-links a {
    background-color: var(--amarillo);
    box-shadow: 2px 2px 5px var(--rojoOsc);
    color: var(--amarilloOsc);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    width: 18%;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: var(--amarilloBri);
    box-shadow: 0px 5px 25px 8px var(--amarillo);
    transform: scale(1.2);
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    cursor: pointer;
    display: none;
}
/*AVISO (voz)*/
.aviso {
    width: 12%;
    padding: 10px;
    background-color: var(--azulBri);
    color: var(--negro);
    position: absolute;
    left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--negro);
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
}

/* Header */
#header-index {
    width: 100vw;
    height: 95vh;
    background-color: var(--blanco2);
    background-image: url('imgs/BgHome.jpg');
    border-bottom: solid 5px var(--negro);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#header-content {
    margin-bottom: 150px;
    text-align: center;
}

#header-content h1 {
    margin-top: 10px;
}

.logo-header {
    width: 50%;
}

/* Variedad */
#variedad {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--amarilloOsc);
    background-image: url(imgs/BgSec.jpg);
    border-bottom: solid 5px var(--negro);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#variedad h2 {
    margin: 40px 50px;
    text-align: center;
}

.fondo-variedad {
    background-color: var(--blanco);
    width: 95%;
}

.row-variedad {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.col {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#variedad h3 {
    margin: 25px auto;
}

.postre {
    width: 120%;
    box-shadow: 2px 2px 5px var(--negro);
    transition: 0.3s;
}

.postre:hover {
    transform: scale(1.2);
}

/* Encuentranos */
.row-encuentra {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cuadro-amarillo {
    background-color: var(--amarillo);
    width: 30%;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuadro-amarillo h2 {
    margin: 10px 50px;
}

.cuadro-amarillo-text {
    width: 80%;
    padding: 20px;
}

.cuadro-amarillo-text p {
    margin: 12px;
}

.ir-maps {
    background-color: var(--azul);
    box-shadow: 2px 2px 5px var(--negro);
    color: var(--blanco2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 15px 5px;
    width: 40%;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.ir-maps:hover {
    background-color: var(--azulBri);
    box-shadow: 0px 5px 25px 8px var(--azul);
    color: var(--azulOsc);
    transform: scale(1.2);
}

.image-gallery {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.local {
    max-width: 48%;
    margin: 10px;
    box-shadow: 2px 2px 5px var(--negro);
    transition: 0.3s;
}

.local:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    padding: 15px 0;
    background-color: var(--azulOsc);
    border-top: solid 5px var(--negro);
}

#footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.info {
    width: 15%;
    display: flex;
    justify-content: center
}

.der-poli {
    width: 50%;
    padding: 10px;
}

.der-poli h3 {
    color: var(--amarilloBri);
    margin: 10px 0;
}

.der-poli p {
    color: var(--blanco2);
    margin: 10px 0;
}

.logo-footer {
    width: 9rem;
    transition: 0.3s;
}

.logo-footer:hover {
    transform: scale(1.2);
}

.redes {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.red {
    width: 40px;
    height: 40px;
    background-color: var(--blanco2);
    border: solid 2px var(--negro);
    box-shadow: 2px 2px 5px var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.red img {
    width: 85%;
}

.red:hover {
    background-color: var(--amarilloBri);
    box-shadow: 0px 5px 25px 8px var(--amarillo);
    transform: scale(1.2);
}

.copyrais {
    background-color: var(--negro);
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    color: var(--blanco2);
    font-size: 12px;
}

/* TRANSFORMACION A RESPONSIVO */

@media screen and (max-width:930px) {

    /* Menu De Hamburguesa */
    .menu-btn {
        display: block;
    }

    #navbar {
        padding: 0;
    }

    #navbar .logo {
        position: absolute;
        top: 10px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 95vh;
        justify-content: center;
        background-color: var(--rojo);
        margin-top: -550px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
    }

    .nav-links a {
        margin: 25px auto;
        width: 30%;
    }

    /* Variedad Responsive */
    .row-variedad {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 60%;
    }

    .postre {
        width: 100%;
    }

    /* Encuentranos Responsive */
    .row-encuentra {
        flex-direction: column-reverse;
        align-items: center;
    }

    .cuadro-amarillo {
        width: 65%;
    }

    .image-gallery {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .local {
        max-width: 65%;
    }

    /* Footer Responsive */
    .redes {
        flex-direction: column;
    }

    .red {
        margin: 10px;
    }

    .logo-footer {
        width: 6rem;
    }
}

